<div class="contents_left">
  <div class="container">
    <%= form_for @question, url: "/questions", method: :post do |form| %>
      <h3>
        入力する
      </h3>
      <%= form.text_area :text, placeholder: "questions" %>
      <%= form.text_field :category, placeholder: "1" , rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>