 <div class="contents row">
  <div class="contents_form">
     
    <%= form_for(@check) do |form| %>
     <%= render partial: "form", locals: { form: form } %>

   <div>
   <input type="submit" value="診断結果へ">
   </div>
  <% end %>
 </div>
</div>   
 
 
 