<div class="contents row">

  <p>あなたのメンタルチェック結果は"<%= @check_sum %>"でした<br>
    <p class="text-small">
      <span class="rating-star"><i class="star-actived rate-<%= @check_sum %>0"></i></span>
    </p>
  </p>
  <p>チェック前の気分は"<%= @check.pre_score %>"<br>
    <p class="text-small">
      <span class="rating-star"><i class="star-actived rate-<%= @check.pre_score %>0"></i></span>
    </p>
  </p>



</div>