//application:
body,html {
  height: 100%;
  background-color: #f3ffd8;//$lightGray;
}
//application:
body {
  padding-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align:  left;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #000;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #57C3E9;
  }
}


.btn {
    Padding: 5px 15px ;
    font-size: 12px;
    border: 2px solid #57C3E9;
    color: #000080;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten(#57C3E9, 15%);
    color: #800080;
  }
}

//font-family:フォントの種類を表す
//sans-serif …… ゴシック系のフォント
//serif …… 明朝系のフォント
//cursive …… 筆記体・草書体のフォント
//fantasy …… 装飾的なフォント

h1{
   line-height: 1.77;
   font-size: 30px;
   color: #1a1a1a;
   font-family: fantasy;//書体の指定:装飾的なフォント
   margin: 0;
   padding: 0;
}

#red {
  color: #ff0000 ;
}

h3,{
   line-height: 1.77;
   font-size: 15px;
   color: #1a1a1a;
   font-family: fantasy;//書体の指定:装飾的なフォント
   margin: 0;
   padding: 0;  
}

h6, {
   line-height: 1.77;
   font-size: 6px;
   color: #8a8a8a;
   font-family: sans-serif;//書体の指定:ゴシック系のフォント
   width: 450px;
   margin: auto;
   padding: 0; 
}

header.header {
  border-bottom: 1px solid #292929;
  background-color: #ffeeff;
  position: fixed;
  top: 0;
  left:  0;
  right: 0;
  z-index: 0;// headerとcontentsが重なった時は、headerが前に表示されるようにする
  
  div.header__bar.row {
    position: relative;
    top: 10px;
    left: 500px;
    
    h1.grid-6 {       //タイトル「ストレス感度チェック」の表示
      font-size: 30px;
      line-height: 45px;
      color: #800080;
      float: left;
      margin-right: 20px;
      a {
        display: block;
      }
    }
      div.grid-6 {    //ログインボタン、新規登録ボタンの配置
      float: right;
      text-align: right;  //文字揃え
    }
  }
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left:   0;
    top:    30px;
    bottom: 100px;
    right:  0;
    margin: auto;
  }
  footer {
    position: absolute;
    bottom: 5px;
    left:  0;
    right: 0;
  }
}

div.contents_row {
     left:    0px;
     top:     0px;
     bottom:  10px;
     right:   0px;
     height: 700px;
     width:  1000px;
     margin: auto;  

  .success {
    top:     0px;
    bottom:   0px;
    right:    0px;
    left:     0px;
    height: 700px;
    width:  1000px;
    margin:  auto;
  }
  .contents_form {
    top:     0px;
    bottom:   0px;
    right:    0px;
    left:     0px;
    height: 400px;
    width:  600px;
    margin:  auto;
  }
  
   .questions_form0 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    }
    .questions_form0 p {
        margin: 0; 
        padding: 0;
    }
  
   .questions_form1 {  //メンタルチェックQ1用のフォーム
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    }
    .questions_form1 p {
        margin: 0; 
        padding: 0;
    }
    
  .questions_form2 {  //メンタルチェックQ2用のフォーム
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ff7d6e;/*文字色*/
    background: #FFF;
    border: solid 3px #ff7d6e;/*線*/
    border-radius: 10px;/*角の丸み*/
    }
    .questions_form2 p {
        margin: 0; 
        padding: 0;
    }
    
    .questions_form3 {  //メンタルチェックQ3用のフォーム
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #00BCD4;/*文字色*/
    background: #FFF;
    border: solid 3px #00BCD4;/*線*/
    border-radius: 10px;/*角の丸み*/
    }
    .questions_form3 p {
        margin: 0; 
        padding: 0;
    }
    
    .questions_form4 {  //メンタルチェックQ4用のフォーム
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #5d627b;/*文字色*/
    background: #FFF;
    border: solid 3px #5d627b;/*線*/
    border-radius: 10px;/*角の丸み*/
    }
    .questions_form4 p {
        margin: 0; 
        padding: 0;
    }
    
    .questions_form5 {  //メンタルチェックQ5用のフォーム
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffc06e;/*文字色*/
    background: #FFF;
    border: solid 3px #ffc06e;/*線*/
    border-radius: 10px;/*角の丸み*/
    }
    .questions_form5 p {
        margin: 0; 
        padding: 0;
    }
    .submit {
      text-align: center;  //文字揃え
    }
  
  
//index　表のフォーム設定  
  table.list, table.attr {
    font-size: 80%;
    width: 100%;
  }
  
  table.list th, table.attr th {
    background-color: #499;
    color: white;
    font-size: 80%;
    font-weight: normal;
    
  }
  
  table.list td, table.list th,
  table.attr td, table.attr th {
    padding: 4px;
  }

  
  
  table.list th {
    text-align: center;
  }
  
  table.attr th {
    text-align: left;
  }
  
  table.list td, table.attr td {
    background-color: #cee;
    text-align: center;
  }  
  
  .stress_sensivility {
   text-align: left;
  }
  .div.contents_image {
     left:    0px;
     top:     0px;
     bottom:  10px;
     right:   0px;
     height: 900px;
     width:  450px;
     margin: auto;
  }   
  .check_start {
    text-align: center; 
  } 
  .div.content_more {
      .more_list {
       top:      20px;
       bottom:   0px;
       right:    0px;
       left:     0px;
       height:  40px;
       width:  200px;
       margin:  auto;
       text-align: left;
      } 
  }

//星評価（レーティング）
      //診断後のレート色付け
     .star-ratings-sprite {
     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
     font-size: 0;
     height: 21px;
     line-height: 0;
     overflow: hidden;
     text-indent: -999em;
     width: 110px;
     margin: auto;
     }
    .star-ratings-sprite-rating {
     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
     background-position: 0 100%;
    // float: left;
     height: 21px;
     display: block;
     }
    // 診断前のレート色付け
    .star-rating {
    position: relative;
    display:inline-block;
    font-size: 20px;
    }
     .star-rating .star-rating-item{
      position: absolute;
      overflow: hidden;
      }
      .star-rating .star-rating-item:before{
      content:"★★★★★";
      color: #ffcc33;
      }
      .star-rating:after {
      content:"★★★★★";
      color: #ccc;
      text-indent: -999em;
      width: 110px;
      margin: auto;
      }
}  
//入力フォームの設定
form {
  input,textarea {
    width: 200px;
    padding: 200px 200px 200px,200px ;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    margin: auto;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    background-color: #57C3E9;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten(#57C3E9, 10%);
    }
  }
}
//入力不備時のアラート


//application "Copyright メンタルチェック 2019."の設定"
footer {
     Padding: 5px 0 0px 10px;
     left:    0px;
     top:     0px;
     bottom:  10px;
     right:   0px;
     height: 0px;
     width:  1000px;
     margin: auto; 
     

  p {
     font-size: 10px;
     text-align: center;
     color:#D8D8D8;
  }
}